<h1>Update existing group</h1>
<%= form_with model: @group, url: edit_group_path do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.submit "Edit group details"%>
<% end %>
