<h1>Chat with <%= @user.email%></h1>
<div id = "chat-interface">
    <% @user.received_messages.each do |message|  %>
       <p> <%= message.sender.email%> said <%= message.content %> </p>
    <% end %>
</div>

<%= render "messages/form", message: Message.new, recipient_user: @user %>
