<h1>This is a realtime chat application with the following features:</h1>
<ol>
    <li>Create User account and create groups</li>
    <li>Individual user messaging</li>
    <li>Group Chat messaging</li>
    <li>User is typing...... feature</li>
    <li>Attachments including images, videos for text messages</li>
    <li>Trcaking to see if a user is online</li>
</ol>

<%= link_to "Sign Up", new_user_registration_path, method: :get %>
<%= link_to "Sign In",new_user_session_path, method: :get %>